.header{
    width: 100%;
    min-height: 1000px;
    height: 100%;
    margin: auto;
    max-width: 100%;
}

.intro{
    width: 100%;
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #161616 10%, rgba(44, 44, 44, 0.7) 70%, transparent);
}