.header{
    width: 100%;
    min-height: 35rem;
    height: 100vh;
    margin: auto;
    max-width: 100%;
}

.intro{
    width: 100%;
    display: block;
    text-align: center;

    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
    background-color: #fff;
}