.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 6rem 1rem;
    background-image:radial-gradient(#FFF 0%, transparent 0%, black 100%),
    url("/images/bg3_50_50_50.png");
}


